<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Welcome To Qbila</h1>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">Why?</h2>
      <div class="">
        <p></p>
      </div>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">What?</h2>
      <div class="">
        <p></p>
      </div>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">How?</h2>
      <div class="">
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>
