<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Welcome To Qbila</h1>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">Why?</h2>
      <div class="">
        <p>
          We love our state. We love the nature and we love the people.
          We cherish what it has been and concerned with what will it become.
          We understand how social political system influence everything, and yet
          as individuals, it seems that we have very limited control over it.
          We have to change this.
        </p>
      </div>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">What?</h2>
      <div class="">
        <p>

        </p>
      </div>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">How?</h2>
      <div class="">
        <p>
          Creating our manifesto that will be then pitched to the politicians.
          If we can make sure that we vote for our demands, we can get a good
          and sure
        </p>
        <p>
          <ul>
            <li>Being more aware about where do we stand as a society.</li>
            <li>Being more aware about what must be our priorities.</li>
            <li>Being more aware about what is being done and what can be done to achieve those priorities.</li>
            <li>Being more aware of processes, people and resources invested to ensure we achieve what we aimed for.</li>
          </ul>
        </p>
        <p>
          <ul>
            <li>Aggregate and monitor open data.</li>
            <li>Push for transparency.</li>
            <li>.</li>
            <li>Being more aware of processes, people and resources invested to ensure we achieve what we aimed for.</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="">
      <h2 class="text-center">Plan</h2>
      <div class="">
        <p></p>
      </div>
    </div>
    <div class="">
      <h2 class="text-center">Progress so far</h2>
      <div class="">
        <p></p>
      </div>
    </div>
    <div class="">
      <h2 class="text-center">You</h2>
      <div class="">
        <p>Here is how you can be a part of the effort. We need following</p>
        <ul>
          <li>Code: contribute</li>
          <li>Money: to keep our servers up and running</li>
          <li>Information: to help build the essential narrative of progress</li>
          <li>Word of mouth: to reach out to every himachali who shares these views</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>
